@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  padding-top: 20px;
}

.main-container {
  flex-grow: 1;
}

/* Button*/
.button{
  position: relative;
  display: inline-block;
  min-width: 220px;
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  }
  .button::before {
    position: absolute;
    z-index: -1;
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 8px;
    content: '';
    color: #000;
    background-color:#FFE17F;
    transition: all 0.2s ease-in-out;
  }

    .button:hover::before {
      height: 100%;
    }
    .button:active::before{
      height: 100%;
      background-color: #ffc700;
    }
    .button:disabled{
      opacity:30%;
    }
    .button:focus-visible{
      outline: 2px solid #AF4FFF;
    }

    /* Logo*/
  .logo:hover{
    opacity: 60%;
  }
  .logo:active{
    opacity: 30%;
  }
  .logo:focus-visible{
    outline: 2px solid #AF4FFF;
  }


  /* Header*/
.cite-header{
  width: 1160px;
  margin: 0 auto;
  color: #000000;
}

.header-container{
  padding: 0 60px 20px 60px;
  background-image: linear-gradient( transparent 12%, #FFE17F 12%);
  background-size: 166px;
}


/* User-navigation*/
.user-navigation-container{
  display: flex;
  width: 1040px;
  justify-content: space-between;
  margin: 30px 0;
}
.search-form{
  display: grid;
  grid-template-columns: 1fr auto;
  width: 517px;
  box-sizing: border-box;
}
.user-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 497px;
  margin: 0;
  padding: 0;
  list-style-type:none;
}
.user-navigation-item{
  margin-left: auto;
  margin-right: 0;

}
.user-navigation-item:first-child{
  margin-left: 0;
  margin-right: auto;
}
.user-navigation-link{
  position: relative;
  display: block;
  color: #000000;
  text-decoration: none;
  padding-left: 22px;
  }
.user-navigation-link:hover{
  opacity: 60%;
}
.user-navigation-link:active{
  opacity: 30%;
}
.user-navigation-link:focus-visible{
  outline: 2px solid #AF4FFF;
}
.user-navigation-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.products-number-in-cart{
  z-index: 1;
  position: absolute;
  top: 5px;
  bottom: 0;
  left: -15px;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  min-width: 21px;
  height: 21px;
  text-align: center;
  background-color: #F0F0F0;
  border-radius: 50%;
  }

  /* Navigation-catalog*/

.navigation{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  }
  .navigation-catalog{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: auto;
    list-style-type:none;
    padding: 0;
  }
  .navigation-catalog-link{
    position: relative;
    display: block;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    color: #000000;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 70px 15px 0;
    letter-spacing: 3.6px;
    }
    .open-catalog{
      position: relative;
    }
    .navigation-catalog-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 243px;
    margin: 0;
    padding: 0;
    opacity: 30%;
    }
  .navigation-catalog-link:hover .navigation-catalog-icon{
    opacity: 1;
  }
  .navigation-catalog-link:active .navigation-catalog-icon{
    opacity: 1;
  }
  .navigation-catalog-link:focus-visible{
    outline: 2px solid #AF4FFF;
  }

/* Cite-navigation*/
  .navigation-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type:none;
    width: 471px;
  }
  .navigation-item{
    margin-left: 0;
    margin-right: auto;
  }
  .navigation-item:nth-child(3n){
    margin-left: auto;
    margin-right: 0;
  }
  .navigation-link{
    position: relative;
    display: block;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 800;
    color: #000000;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 0;
    letter-spacing: 3.6px;
    }

    .navigation-link:hover{
      opacity: 60%;
    }
    .navigation-link:active{
      opacity: 30%;
    }
    .navigation-link:focus-visible{
      outline: 2px solid #AF4FFF;
    }
      .navigation-link-current::before {
        position: absolute;
        right: 0;
        bottom: 10;
        left: 0;
        height: 2px;
        background-color: #000;
        content: "";
      }


/* Slider*/
.slider-container{
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
  background-image: linear-gradient(#FFE17F 16%, transparent 16%);
}
.slider-image{
  display: block;
  margin-right: 40px;
  padding: 0;
}
.bestsellers-preview{
  width: 560px;
  margin: 0;
  padding: 0;
}

.bestsellers-description {
  width: 560px;
  padding: 0;
  margin: 0;
  padding-top: 55px;
}

.slider-pagination-number{
  font-family: Rubik, Arial, sans-serif ;
  font-weight: 700;
  font-size: 180px;
  color:#FFFFFF;
  text-align: right;
  display: block;
  padding-right: 49px;
  }

.slider-pagination-slogan{
  font-family: Raleway, Arial, sans-serif;
  color: #000000;
  font-weight: 800;
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  }

  .slider-pagination-description{
    margin: 29px 0 60px 0;
  }

  /* Slider-table*/
  .slider-table-wrapper{
    padding: 60px 393px 38px 0;
  }

  .slider-table th{
    font-weight: 400;
    font-size: 16px;
    min-width: 150px;
    padding: 0;
    text-align: left;
    }

  .slider-table td{
    font-size: 36px;
    color: #000000;
    min-width: 150px;
    }

  /* Category-section*/
.category-list{
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  width: 1160px;
  margin: 0 auto;
  list-style:none;
  padding: 0;
}

.category-title{
  display: block;
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-transform: none;
  text-align: left;
  font-size: 18px;
  letter-spacing: -0.36px;
  margin-top: 33px;
  margin-bottom: 0%;
  max-width: 160px;
  box-sizing: border-box;
}
.category-link{
  display: block;
  text-decoration: none;
  }

.category-image-wrapper{
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
}

.category-image-wrapper.vr{
  background-image: url("../images/category-vr.svg");
}
.category-image-wrapper.monopod{
  background-image: url("../images/category-monopod.svg");
  background-position: bottom;
}
.category-image-wrapper.camera{
  background-image: url("../images/category-camera.svg");
}
.category-image-wrapper.fitness-wristlet{
  background-image: url("../images/category-fitness_wristlet.svg");
}
.category-image-wrapper.smart-watch{
  background-image: url("../images/category-smart_watch.svg");
}
.category-image-wrapper.drone{
  background-image: url("../images/category-drone.svg");
}

.category-link:hover .category-image-wrapper{
  background-color: #ffc700;
}
.category-link:active{
  opacity: 30%;
}
.category-link:focus-visible{
  outline: 2px solid #AF4FFF;
}

/* Advantages*/
.advantages-container {
  background-image: linear-gradient(transparent 26%, #F0F0F0 26%);
  margin-top: 70px;
  padding-bottom: 72px;
}

.advantages{
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.advantages-list-container{
  width: 287px;

}
.advantages-description{
  position: relative;
  max-width: 475px;
  padding: 0;
  padding-left: 116px;
  margin-top: 73px;
  padding-right: 246px;
}
.advantage-pagination{
  list-style: none;
  border-right: 7px solid #000;
  padding-top:64px;
  margin: 0;
}
.advantage-pagination-title{
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 34px;
}
.advantage-pagination-title::after{
  position: absolute;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url("../images/advantages_delivery.svg");
  background-repeat: no-repeat;
  right: 0;
}
.advantage-pagination-detail{
  margin: 0;
}
.advantage-pagination-button{
  position: relative;
  display: inline-block;
  width: 160px;
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  padding: 10px 5px;
  border: none;
  background-color: transparent;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  }
  .advantage-pagination-button::before{
    position: absolute;
    z-index: -1;
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 8px;
    content: '';
    width: 160px;
    color: #000;
    background-color:#FFE17F;
    transition: all 0.2s ease-in-out;
  }
  .advantage-pagination-button-current{
    color: #FFE17F;
    margin-bottom: 40px;
  }
  .advantage-pagination-button-current::before{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 245px;
    height: 100%;
    content: '';
    background-color: #000;
  }
  .advantage-pagination-button:hover::before{
    height: 100%;
  }
  .advantage-pagination-button:active::before{
    height: 100%;
    background-color: #ffc700;
  }
  .advantage-pagination-button:focus-visible{
    outline: 2px solid #AF4FFF;
  }
  .advantage-pagination-button:disabled{
    opacity:30%;
  }
  .advantage-pagination-button-current:hover {
    padding-left: 25px;
  }
  .advantage-pagination-button-current:active::before{
    height: 100%;
    background-color: #000;
  }
  .advantage-pagination-button-current:focus-visible::before{
    outline: 2px solid #AF4FFF;
  }
  .advantage-pagination-button-current:active {
    padding-left: 25px;
  }


/* Delivery-box*/
.delivery-form{
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #F0F0F0;
}

.delivery-pop-up-link{
  z-index: 0;
  display: block;
  position: relative;
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  text-align: center;
}
.delivery-pop-up-link::before{
  z-index: -1;
  content: "";
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  background-color: #FFE17F;
  background-image: url("../images/delivery_button.svg");
  background-repeat: no-repeat;
  background-position: bottom 30px left 42px;
  width: 125px;
  height: 100%;
}
.delivery-information{
  display: block;
  max-width: 910px;
  margin: 0 auto;
  padding: 40px 0;
}
.delivery-info-icon{
  position: absolute;
  right: 0;
  margin: 0;
  top:0;
  bottom:0;
  padding: 36px 39px;
  opacity: 60%;
}
.delivery-pop-up-link:hover::before{
  background-color:#ffc700;
}
.delivery-pop-up-link:hover .delivery-info-icon{
  opacity: 1;
}
.delivery-pop-up-link:active{
  opacity: 60%;
}
.delivery-pop-up-link:focus-visible{
  outline: 2px solid #AF4FFF;
}


/* About-section*/
.about-container{
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-top: 70px;
}
.about-us{
  width: 520px;
  margin-right: 131px;
}
.contact{
  width: 532px;
}
.about-title{
  position: relative;
  display: block;
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin:0;
  margin-bottom: 48px;
  padding-top: 47px;

}
.about-title::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 7px;
    content: '';
    background-color: #000;
}
.about-us-details{
  display: block;
  padding-bottom: 30px;
}
.delivery-providers-list{
  margin-bottom: 40px;
}
.delivery-providers-list span{
  font-family: Rubik;
  font-weight: 700;
  line-height: 20px;
  color: #000000
  }
.delivery-providers-list li{
  color:#FFE17F;
  }
.contact-title{
  font-family: Rubik, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
  }
.address{
  font-style: normal;
  margin: 0;
  }
.contact-phone{
  font-style: normal;
  color: #444444;
  text-decoration: underline;
  margin: 0;
  }
  .contact-phone:hover{
    color: #ffc700;
  }
  .contact-phone:active{
    color: #ffc700;
    opacity: 30%;
  }
  .contact-phone:focus-visible{
    outline: 2px solid #AF4FFF;
  }
  .contact-schedule{
    padding: 0;
    margin: 0 0 40px 0;
  }


/* Subscription-box*/
.subscription{
  background-color: #F0F0F0;
  margin-top: 70px;
  }
.subscription-container{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 144px;
}
.subscription-title{
  display: block;
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-right: 252px;
  }
  .subscription-info{
    display: block;
    margin: 0;
    padding-top: 10px;
  }
  .subscription-info{
    margin: 0;
    padding: 0;
    padding-right: 34px;
  }
  .subscription-form-container{
    display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 56px;

  }
  .subscription-form{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 810px;
    margin: 0;
    margin-right: 128px;
    box-sizing: border-box;
  }

  .subscription-free{
    padding-left: 32px;
    background-image: url(../images/subscription-free.svg);
    background-repeat: no-repeat;
    background-position: left;
  }

/* Footer*/
.cite-footer{
  background-color: #444444;
  padding-top: 62px;
  }
  .cite-footer-wrapper{
    margin-top: 35px;
    width: 1160px;
    margin: 0 auto;
  }
  .cite-footer a{
    color:#FFFFFF;
    }

.cite-footer-grid-container{
  position: relative;
  display: grid;
  grid-template-columns: 240px 550px 240px;
  gap: 64px 65px;
  margin-top: 35px;
  margin-bottom: 61px;
}

.footer-contact{
  line-height: 20px;
  margin-top: 0;
}
.footer-contact-tel{
  margin-top: 0;
  justify-self: end;
}
.contact-address-text{
  margin: 0;
}
.footer-navigation-list{
  display: flex;
  justify-content: space-between;
  width: 444px;
  letter-spacing: 3px;
  margin-top: 0;
  padding:0;
}

.cite-footer-grid-container::after{
    position: absolute;
    grid-column: 1;
    grid-row: 2;
    bottom: 10px;
    left: 0;
    width: 80px;
    height: 7px;
    content: '';
    background-color:#ffc700;
}

.footer-social{
  margin: 0 auto;
  grid-column: 2;
}
.footer-social-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 444px;
  padding: 0;
  list-style-type: none;
  grid-column: 2;
  margin: 0 auto;
}
.footer-social-item{
  display: inline-block;
  margin: 0 7px;
}
.footer-social-link{
  position: relative;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.footer-social-icon{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  fill:rgba(68, 68, 68, 1);
}
.footer-social-link:hover{
  background-color: rgba(255, 199, 0, 1);
}
.footer-social-link:active .footer-social-icon{
  fill:rgba(68, 68, 68, 0.3);
}
.footer-social-link:focus-visible{
  outline: 2px solid #AF4FFF;
}

.footer-contact-address{
  position: relative;
  font-family: Rubik, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:#FFFFFF;
  font-style: normal;
  }

.footer-navigation-list{
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
  }

.footer-navigation-link{
  text-decoration: none;
  }
.footer-navigation-link:hover{
  color:rgba(255, 199, 0, 1);
  border-bottom: solid 2px;
}
.footer-navigation-link:active{
  color:rgba(255, 199, 0, 1);
  opacity:30%;
  border-bottom: solid 2px;
}
.footer-navigation-link:focus-visible{
  outline: 2px solid #AF4FFF;
}
.htmlacademy-link-wrapper{
  grid-column: 3;
  justify-self: end;
}
.htmlacademy-link-icon{
  fill: #ffc700;
}
.htmlacademy-link:hover .htmlacademy-link-icon{
  fill: #FFFFFF;
}
.htmlacademy-link:active .htmlacademy-link-icon{
  fill: rgb(255,255,255,0.3)
}
.htmlacademy-link:focus-visible{
  outline: 2px solid #AF4FFF;
}


/* Catalog-page*/
.inner-header{
  margin: 0 auto;
  width: 1160px;
}
.inner-header-container{
  padding: 35px 0 34px 60px;
}

.inner-header-title{
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 16px;
}
.catalog-products{
  background-color: #F0F0F0;
}
.catalog-page-container{
  display: flex;
  margin: 0 auto;
  width: 1160px;
}
.sorting-container{
  display: flex;
  padding: 25px 40px;
}
.sorting-control{
  margin-left: auto;
}
.sotrt-up,
.sort-down{
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  cursor: pointer;
  opacity: 30%;
}
.sotrt-up:hover,
.sort-down:hover{
  opacity: 60%;;
}
.sotrt-up:active,
.sort-down:active{
  opacity: 1;
}
.sotrt-up:focus-visible,
.sort-down:focus-visible{
  outline: 2px solid #AF4FFF;
}


.product-container{
  background-color: #FFFFFF;
  padding-bottom: 78px;
}
.filter-control{
  width: 320px;
  margin-left: 60px;
  padding-top: 25px;
}
.catalog-right-column{
  width: 840px;
}
.select-control{
  margin: 0 155px;
}
.sort-up,
.sort-down{
  width: 30px;
  height: 30px;
}

/* Breadcrumbs*/
.breadcrumbs{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs-item:not(:first-child){
  padding-left: 20px;
  background-image: url(../images/breadcrumbs_arrow_right.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.breadcrumbs-link{
  color: inherit;
  text-decoration: none;
  margin-right: 16px;
}
.breadcrumbs-link:hover{
  opacity:60%
}
.breadcrumbs-link:active{
  opacity:30%
}
.breadcrumbs-link:focus-visible{
  outline: 2px solid #AF4FFF;
}


.filter-control-title{
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}

.select-control-title{
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.catalog-filter-lable{
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
.product-list{
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin:0;
  padding: 70px 40px 40px;
  list-style:none;
}
.product-card-link-lable{
  position: relative;
  z-index: 1;
  display: none;
  position: absolute;
  margin: 0 auto;
  top: 175px;
  left:0;
  right: 0;
  width: 220px;
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.product-card-link-lable::before {
  position: absolute;
  z-index: -1;
  display: block;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 8px;
  content: '';
  color: #000;
  background-color:#FFE17F;
  transition: all 0.2s ease-in-out;
}
.product-card-link:hover .product-card-wrapper{
  opacity:60%;
}
.product-card-link:hover .product-card-link-lable{
  display: inline-block;
}
.product-card-link-lable:hover::before{
  height: 100%;
  background-color: #FFE17F;
}
.product-card-link:active .product-card-wrapper{
  opacity:60%;
}
.product-card-link:hover .product-card-link-lable{
  display: block;
}
.product-card-link-lable:active::before{
  height: 100%;
  background-color:#ffc700;
}
.product-card-link:focus-visible{
  outline: 2px solid #AF4FFF;
}

.product-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.product-card-content{
  display: flex;
  margin: 32px 0 4px;
  justify-content: space-between;
}
.product-card-name{
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin: 0;
  flex-basis: 200px;
  flex-grow: 1;
}
.product-card-price{
  flex-basis: auto;
  flex-grow: 3;
}
.product-card-link{
  position: relative;
  color: inherit;
  text-decoration: none;
}
.product-card-price{
  text-align: right;
  line-height: 21px;
}
.product-card-image{
  object-fit: contain;

}

.pagination{
  display:flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  background-color: #F0F0F0;
  margin: 44px 40px 0;
  min-width: 200px;
}

.pagination-link-back{
  display: block;
  box-sizing: border-box;
  width: 128px;
  height: 71px;
  padding: 25px;
}
.pagination-link-number{
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  color: rgba(68, 68, 68, 0.3);
  width: 40px;
  height: 40px;
  padding: 10px 15px;
  margin-top: 15px;
  text-decoration: none;
}
.pagination-link-number .current{
  color:#000000;
}
.pagination-link-number:hover{
  color: rgba(68, 68, 68, 1);
}
.pagination-link-number:active{
  color: rgba(68, 68, 68, 0.1);
}
.pagination-link-number:focus-visible{
  outline: 2px solid #AF4FFF;
}
.pagination-link-forward{
  display: block;
  box-sizing: border-box;
  width: 141px;
  height: 71px;
  padding: 25px;
}
.pagination-link-forward,
.pagination-link-back{
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination-link-forward:hover,
.pagination-link-back:hover{
background-color: #DCDCDC;
}
.pagination-link-forward:active,
.pagination-link-back:active{
  opacity: 30%;
}
.pagination-link-forward:focus-visible,
.pagination-link-back:focus-visible{
  outline: 2px solid #AF4FFF;
}
.pagination-prev{
  margin-right: auto;
}
.pagination-next{
margin-left: auto;
}
.paination-show-more{
  font-family: Raleway, Arial, sans-serif ;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 40px;
  width: 760px;
  height: 55px;
  padding: 0;
  background-color: #F0F0F0;
  border: 3px solid rgba(229, 229, 229, 1);
  cursor: pointer;
}
.paination-show-more:hover{
  border: 3px solid rgba(0, 0, 0, 1);
}
.paination-show-more:active{
  opacity: 30%;
}
.paination-show-more:focus-visible{
  outline: 2px solid #AF4FFF;
}


/* Decoration*/
.button,
.category-link{
  text-decoration: none;
  }



/* temporary to remove bullets*/
.contact-schedule,
.catalog-list{
  list-style:none;
}
